.dashboard-container{
    width: 100%;
    min-height: 100vh;
    padding: 2rem/* 32px */;
    background-color: #EDEDED;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.statistics-section{
    display: flex;
    gap: 1.5rem;
    margin-top: 2rem/* 32px */;
    overflow: hidden;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.stat-box{
    background-color: white;
    width: 18rem/* 288px */;
    height: 9rem/* 144px */;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.stat-number{
    text-align: center;
    font-size: 3.75rem/* 60px */;
    padding-top: 2rem;
    padding-bottom: 2rem/* 32px */;
    padding-left: 1rem/* 16px */;
    padding-right: 1rem/* 16px */;
    font-weight: 700;
    color: #FF5D01;
}

.stat-text{
    font-weight: 600;
    font-size: 1.875rem/* 30px */;
    color: #FF5D01;

}

.stat-box-ques{
    background-color: white;
    width: 18rem/* 288px */;
    height: 9rem/* 144px */;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    text-align: center;

}

.stat-number-ques{
    text-align: center;
    font-size: 3.75rem;
    padding-top: 2rem;
    padding-bottom: 2rem/* 32px */;
    padding-left: 1rem/* 16px */;
    padding-right: 1rem/* 16px */;
    font-weight: 700;
    color: #60B84B;
}

.stat-text-ques{
    font-weight: 600;
    font-size: 1.875rem/* 30px */;
    color: #60B84B;

}

.stat-box-imp{
    background-color: white;
    width: 18rem/* 288px */;
    height: 9rem/* 144px */;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    text-align: center;
}

.stat-number-imp{
    text-align: center;
    font-size: 3.75rem;
    padding-top: 2rem;

    padding-bottom: 2rem/* 32px */;
    padding-left: 1rem/* 16px */;
    padding-right: 1rem/* 16px */;
    font-weight: 700;
    color: #5076FF;
}

.stat-text-imp{
    font-weight: 600;
    font-size: 1.875rem/* 30px */;
    color: #5076FF;

}
